#-*- coding:utf8 -*-

import pymysql
import os

base_path = os.path.dirname(os.path.abspath(__file__))
datasource = {
    'default': {
        'module': pymysql,
        'host': '127.0.0.1',
        'user': 'lodel',
        'passwd': 'lodel',
        'db': 'lodel'
    }
}
