#-*- coding:utf8 -*-

import pymysql

datasource = {
    'default': {
        'module': pymysql,
        'host': '127.0.0.1',
        'user': 'lodel',
        'passwd': 'lodel',
        'db': 'lodel'
    }
}
