{% extends "base.html" %}
{% block title %}Lodel 2 - Collections {% endblock %}
{% block content %}
{% set collections = my_classes.Collection.get(None) %}
{% set issues = my_classes.Issue.get(None) %}

<ol class="breadcrumb">
  <li><a href="/{{ root_url }}/">Home</a></li>
  <li class="active">Collections</li>
</ol>
<h1 class="h1_lodel">Collections </h1>
    <ul>
        {% for collection in collections %}
        <h2>{{ collection.data('title') }}</h2>
        <ul>
        {% if issues is not none: %}
            {% for issue in issues %}
              {% if issue.data('collection') == collection.uid(): %}
                <li>
                    <h3><a href="/{{ root_url }}/issue?lodel_id={{ issue.uid() }}"> {{ issue.data('title') }}</a></h3>
                    <h3>{{ issue.data('subtitle') }}</h3>
                    {% set author_ids = my_classes.get_authors(issue) %}
                    {% set authors = my_classes.Person.get(("%s in (%s)") % ("lodel_id", author_ids|join(','))) %}
                    <p>Authors : {% for author in authors %} {{ author.data('firstname')}} {{ author.data('lastname')}} ; {% endfor %} </p>
                </li>
              {% endif %}
            {% endfor %}
        {% endif %}
        </ul>
        {% endfor %}
     <ul>
{% endblock %}