<html>
<head></head>
<body>
    <form action="localhost:9090/admin?r=1&rand[]=7&rand[]=5" method="POST" enctype="multipart/form-data">
        <input type="text" name="re[]" value="3"><br />
        <input type="text" name="re[]" value="1"><br />
        <input type="text" name="val" value="8"><br />
        <input type="file" name="myfile1"><br />
        <input type="file" name="myfile2"><br />
        <input type="file" name="myfiles[]"><br />
        <input type="file" name="myfiles[]"><br />
        <input type="submit" value="tester"><br />
    </form>
</body>
</html>